.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-variation-settings:
    "wdth" 100;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* shared styles */
.colorgrid{
    color: #E95A08;
}
.p-color{
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
}
.heading-title{
    font-size: 50px;
    font-weight: bold;
}
.white-{
    color: #ffffff;
    font-size: 25px;
    font-weight: 600;
}
.heading-bold{
    font-size: 50px;
    font-weight: bold;
}
li{
    list-style: none;
}


nav{
    display: flex;
    justify-content: space-between;
    margin: 30px 150px;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 48px;
}

a{
    text-decoration: none;
    color: #252432;
}
.banner-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 120px 150px;
}

.banner-title{
    font-size: 65px;
    font-weight: 700;
    padding: 13px 0;
}


main{
    width: 1140px;
    margin: 0 auto;
}
/*  */
.our-plants{
    text-align: center;
}
.our-plants h2{
    padding-bottom: 16px;
}
.name-title{
    font-size: 22px;
    margin-bottom: 20px;
}
.price{
    font-size: 22px;
    font-weight: bold;
}
.card{
    margin-top: 30px;
}
.card button{
    padding: 26px 90px;
    border: none;
    background-color: #E95A08;
    color: #ffffff;
}
.state-card-1, .state-card-2{
    display: flex;
    justify-content: center;
    margin: 49px 150px;
    gap: 20px;
}

/*             */

.flower-plants-content{
    margin-top: 215px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.writing-content h2, li{
    margin: 20px;
}
.badge{
    width: 286px;
    height: 286px;
    position: absolute;
    left: 386px;
    top: -124px;
}

/*    */
.deal-heading{
    margin-top: 135px;
    text-align: center;
    padding-bottom: 16px;
    margin-bottom: 120px;
}

/*  */

.flower-content{
    display: flex;
    justify-content: center;
    gap: 28px;
    margin-bottom: 120px;
}
.left-img{
    position: relative;
    margin-bottom: 25px;
}
.flower-overlay{
    text-align: center;
}
.overlay{
    position: absolute;
    width: 100%;
    border-radius: 14px;
    height: 98%;
    top: 0;
    background: rgb(0, 0, 0, 40%);
}
.flower-content img{
    border-radius: 14px;
}
.left-img .white-{
    position: absolute;
    left: 70px;
    top: 61px;
    font-size: 20px;
    
}
.link{
    margin: 45px 65px;
    border-bottom: 2px solid white;
}

/* right side */
.right-side-content{
    position: relative;
}
.right-overlay{
    position: absolute;
    width: 100%;
    border-radius: 14px;
    height: 92%;
    top: 0;
    background: rgb(0, 0, 0, 40%);
}
.img-heading{
    font-size: 40px;
    font-weight: bold;
}
.img-shop{
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    margin: 70px 130px;
    border-bottom: 2px solid white;
}
.img-writing-content{
    position: absolute;
    top: 165px;
    left: 177px;
    color: white;
}

/*  */

.colorful-bunch{
    background-image: url(assets/news-letter-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    text-align: center;
    padding: 100px 20px;
    color: #ffffff;
    margin: 0 auto;
}
.subscribe-section{
    margin: 199px auto 193px;
}
.subscribe-form input{
    width: 830px;
    height: 50px;
    outline: none;
    border: none;
}
.subscribe-form button{
    width: 186px;
    height: 52px;
    background-color: #E95A08;
    color: #ffffff;
    border: none;
    right: 192px;
    position: relative;
}
.subscribe-form input::placeholder{
    padding: 0 30px;
}

/*  */

.footer-part{
    margin: 50px 160px;
    display: flex;
    justify-content: space-between;
}
.twiet{
    position: relative;
    bottom: 8px;
}
.social-media-icon img{
    margin-right: 24px;
}




/* Mobile device responsive */
@media screen and (max-width: 768px){
    .hide{
        display: none;
    }
    nav{
        justify-content: space-between;
        margin: 13px;
        align-items: center;
    }
    .banner-content{
        flex-direction: column-reverse;
    }
    .banner-content img{
        
        flex-direction: column;
    }
    .banner-heading{
        margin: 28px 16px;
        width: 361px;
        height: 147px;
    }
    .banner-title{
        font-size: 24px;
        font-weight: 700;
    }
    .p-color{
        font-size: 14px;
    }
    .our-plants{
        text-align: center;
    }
    .our-plants h2{
        text-align: start;
        font-size: 24px;
        font-weight: 700;
    }
    .our-plants p{
        width: 336px;
        height: 68px;
        font-size: 14px;
    }
    .state-card-1{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: 0;
        gap: 14px;
    }
    .state-card-2{
        display: grid;
        grid-template-columns: repeat(2, 2fr);
        max-width: 0;
    }
    .badge{
        display: none;
    }
    .flower-plants-content{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .image-content img{
        grid-template-columns: repeat(1, 1fr);
    }
    .deal-heading{
        text-align: start;
    }
    .flower-content{
        gap: 0;
    }
    .left-img{
        flex-direction: column;
    }
    .flower-overlay img{
        display: flex;
        flex-wrap: wrap;
        justify-content: end;
    }








}